footer 
  article.text-center.text-xs
    p &copy; 2022 Carlos R. Rodriguez - This portfolio is
      a.text-emerald-500.font-bold.underline(
        href="https://github.com/carlosrrdev/portfolio-v2"
      )
        |
        | open source
